<table class="table">
    {% for post in object_list %}
    <tr>
        <td>
            <p>
                <a href="{% url 'comment.list' post_id=post.id %}">
                    {{ post.title }}
                </a>
            </p>
            <p>
                <span class="label label-info">{{ post.author.username }}</span> 
                发布与{{ post.create_time|date:"Ymd H:i:s" }}, 
                回复<span class="badge">{{ post.comments|length }}</span>
                {% if post.comments %}, 最后回复来自于<span class="label">{{ post.last_comment.author.username }}</span>{% endif %}
            </p>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>目前没有任何主题,来创建第一个主题吧.</td>
    </tr>
    {% endfor %}
</table>
{% include '_pagination.html' with paginator=paginator page_obj=page_obj %}