{% extends 'layout.html' %}

{% block script %}
<script type="text/javascript">
    function show_errormsg(errorMsg, data){
        $('#errors').append("<div class='alert alert-error' data='" + data + "'>" + errorMsg + "</div>");
    }

    function clear_errormsgs(data){
        $('#errors').find(".alert[data='" + data + "']").remove();
    }

    $(function(){

        // 提交主题校验
        $('#commentForm :input').blur(function(){
            // 验证内容
            if($(this).is('#content')){
                clear_errormsgs('content');
                if(this.value == ''){
                    var errorMsg = '请输入请输入回复内容';
                    show_errormsg(errorMsg, 'content');
                }
            }
        }).keyup(function(){
           $(this).triggerHandler("blur");
        }).focus(function(){
           $(this).triggerHandler("blur");
        });

        // 提交新回复
        $('#send').click(function(){
            $('#commentForm :input').trigger('blur');
            var numError = $('#errors .alert').length;
            if(numError){
                return false;
            }

            $.ajax({
                type: 'POST',
                url: "{% url 'comment.create' %}",
                data: $('#commentForm').serialize(),
                dataType: 'json',
                success: function(data){
                    // window.location.reload();
                    $('#includeList').load("{% url 'comment.list_include' post_id=post.id %}?page=last");
                    $('#commentForm :input[name=content]').val('');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    console.log('Serve Error:' + errorThrown);
                }
            });
            return false;
        });
    });
</script>
{% endblock %}

{% block main_section %}
<div class="row box">
    <p>{{ post.title }}</p>
    <p>{{ post.content }}</p>
</div>

<div class="row box" style="margin-top: 10px">
    {% include '_messages.html' with messages=messages %}
    <div id="includeList">
    {% include '_comment_pagination.html' with object_list=object_list paginator=paginator page_obj=page_obj %}
    </div>
</div>

{% if username %}
<div class="row box" style="margin-top: 10px">
    <div id="errors"></div>
    <form id="commentForm" action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <input type="hidden" name="username" value="{{ username }}">
        <textarea id="content" name="content" id="" cols="20" rows="5" style="display: block;width: 95%"></textarea>
        <input id="send" type="submit" value="回复主题" class="btn btn-small">
    </form>
</div>
{% endif %}

{% endblock %}