{% extends 'layout.html' %}

{% block script %}
<script type="text/javascript">
    function show_errormsg(errorMsg, data){
        $('#errors').append("<div class='alert alert-error' data='" + data + "'>" + errorMsg + "</div>");
    }

    function clear_errormsgs(data){
        $('#errors').find(".alert[data='" + data + "']").remove();
    }

    $(function(){
        // 如果提示Mesage已显示, 10秒钟后消失.
        if($('#messages').length > 0){
            setTimeout(function(){ $('#messages').hide('slow') }, 10000);
        }

        // 提交主题校验
        $('#postForm :input').blur(function(){
            // 验证标题
            if($(this).is('#title')){
                clear_errormsgs('title');
                if(this.value == ''){
                    var errorMsg = '请输入主题标题';
                    show_errormsg(errorMsg, 'title');
                }
            }
            // 验证内容
            if($(this).is('#content')){
                clear_errormsgs('content');
                if(this.value == ''){
                    var errorMsg = '请输入请输入主题内容';
                    show_errormsg(errorMsg, 'content');
                }
            }
        }).keyup(function(){
           $(this).triggerHandler("blur");
        }).focus(function(){
           $(this).triggerHandler("blur");
        });

        // 提交新主题
        $('#send').click(function(){
            $('#postForm :input').trigger('blur');
            var numError = $('#errors .alert').length;
            if(numError){
                return false;
            }

            $('#send').hide();
            $('#loading').show();
            $.ajax({
                type: 'POST',
                url: "{% url 'post.create' %}",
                data: $('#postForm').serialize(),
                dataType: 'json',
                success: function(data){
                    // window.location.reload();
                    $('#includeList').load("{% url 'post.list_incldue' %}");
                    $('#postForm :input[name=title]').val('');
                    $('#postForm :input[name=content]').val('');
                    $('#send').show();
                    $('#loading').hide();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    console.log('Serve Error:' + errorThrown);
                    $('#send').show();
                    $('#loading').hide();
                }
            });
            return false;
        });
    });
</script>
{% endblock %}

{% block main_section %}
<div class="row box">
    {% include '_messages.html' with messages=messages %}
    <div id="includeList">
    {% include '_post_pagination.html' with object_list=object_list paginator=paginator page_obj=page_obj %}
    </div>
</div>

{% if username %}
<div class="row box" style="margin-top: 10px">
    <div id="errors"></div>
    <form id="postForm" action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ username }}">
        <input id="title" type="text" name="title" style="display: block;width: 95%">
        <textarea id="content" name="content" id="" cols="20" rows="10" style="display: block;width: 95%"></textarea>
        <input id="send" type="submit" value="创建新主题" class="btn btn-small">
        <img id="loading" src="{{ STATIC_URL }}img/loading.gif" alt="" style="display: none;">
    </form>
</div>
{% endif %}
{% endblock %}